GITHUB_URL=/nakafaai/nakafa.com # change this if you want to use a different URL
BING_WEBMASTER_API_KEY="" # Only when you want to index the website to bing
NEXT_PUBLIC_URL=https://nakafa.com # change this if you want to use a different URL
ANALYZE=true # set to true to enable the analyze the bundle size