@import "@repo/design-system/styles/globals.css";
@import "@repo/design-system/styles/theme.css";
@import "@repo/design-system/styles/katex.css";

/* Smooth scrolling only on marketing pages */
html:has([data-marketing-page]) {
  scroll-behavior: smooth;
}
