CONVEX_DEPLOY_KEY=""
INTERNAL_CONTENT_API_KEY=""
CONTENT_RUNTIME_TOKEN=""
NAKAFA_API_EDGE_SECRET=""
NAKAFA_CONVEX_SITE_URL="https://dapper-antelope-269.convex.site"
NEXT_PUBLIC_API_URL="https://api.nakafa.com"
NEXT_PUBLIC_APP_URL="https://nakafa.com"
NEXT_PUBLIC_MCP_URL="https://mcp.nakafa.com"
NEXT_PUBLIC_VERSION="1.0.0"
